<% layout('template/common') %>
<% block('title').append('<title>'+(typeof(title)!=='undefined' ? title : 'List')+'</title>') %>
		
<script>

<%
var form = {
	data: {
		fields: [],
		values: {}
	},
	
};
if (typeof(add) !== 'undefined')
	form.data.fields = add;

form.data.fields.push({id: 'account', name: '帳號', type: 'account', desc: '帳號', must: true, show: true, option: undefined});
form.data.fields.push({id: 'password', name: '密碼', type: 'password', desc: '密碼', must: true, show: true, option: undefined});
form.data.fields.push({id: 'confirm_password', name: '確認密碼', type: 'password', desc: '請再輸入一次密碼', must: true, show: true, option: undefined});
form.data.fields.push({id: 'email', name: 'E-mail', type: 'email', desc: '填寫您的E-mail', must: true, show: true, option: undefined});
var f = encodeURIComponent(JSON.stringify(form));

%>
var form = JSON.parse(decodeURIComponent("<%-f %>")); 
	
	
var onConnect = function () {
	init_html(function(err, html){
		document.getElementById('sub_title').innerHTML = '<%=(typeof(s_title)!=='undefined')?s_title:'註冊帳號'%>';
		document.getElementById('data').innerHTML = html;	
	});
}

function init_html(onDone) {
	var html = '';
	html += create_table(form, [], true);
	return onDone(null, html);
}

function check_password() {
	if (document.getElementById('password').value !== document.getElementById('confirm_password').value) 
		return false;
	return true;
}

function getInput() {
	var para = {
		account: document.getElementById('account').value, 
		email: document.getElementById('email').value, 
		password: document.getElementById('password').value
	};
	<% if (typeof(add) !== 'undefined') { 
		for (var i in add) { %>
			para['<%=add[i].id%>'] = document.getElementById('<%=add[i].id%>').value;
		<% } %>		
	<% } %>
	return para;
}

function flexform_custom_upload() {
	if (!check_password()) {
		alert('輸入的密碼不一緻！');
		return;
	}
	flexform_register(getInput(), onCreateAccount);
}

function onCreateAccount(err, result) {
	if (err) {
		switch (err) {				
			case 'ACCOUNT_EXISTS':
				alert('帳密不符或帳號已經存在');
				return;
			default:
				alert(err);
				return;
		}
	}
	<% if (typeof(add_form_name) !=='undefined') { %>
	SR.API.GET_FORM_FIELDS({name: '<%=add_form_name%>'}, function (err, data) {
		if (err) {
			alert(err);
			return;
		}
		var fields = data.fields;
		var para = {
			form_name: '<%=add_form_name%>',
			values: {}
		};

		for (var i in fields) 
			if (document.getElementById(fields[i].id))
				para.values[fields[i].id] = document.getElementById(fields[i].id).value
		SR.API.UPDATE_FIELD(para, function (err, result) {
			if (err) {
				alert(err);
				return;
			}
			if(Object.keys(window).indexOf('<%=add_onDone_func%>') !== -1) {
				var do_func = window['<%=add_onDone_func%>'];
				do_func(getInput());
			} else 
				onSuccess();
		});
	});
	<% } else { %>
		onSuccess();
	<% } %>
}

function onSuccess() {
	SR.API._ACCOUNT_LOGIN(getInput(), function(err) {
		if (err){
			alert(err);
			return;
		}
		alert('註冊成功');
		window.location = '/main';
	});
}

</script>
			
<section id="three" class="wrapper style2 special">
	<h2 id='sub_title'></h2>
	<div id="data"></div>
</section>

