<% layout('template/common') %>
<% block('title').append('<title>'+(typeof(title)!=='undefined' ? title : 'List')+'</title>') %>
	
<script src="/web/flexform/jquery.tagsinput.js"></script>


<script>
<%
	var show_form = function(form) {
		form = JSON.parse(JSON.stringify(form));
		SR.API.TRANSLATE_FORM_FIELDS({field_data: form.data}, function (err, field_data) {
			if (err) {
				return console.error(err);	
			}	
			// LOG.warn('form = ');
			// LOG.warn(form.data.field );
			form.data.field = field_data.field;
			if (typeof(para) !== 'undefined' && typeof(para.hide) !== 'undefined' )
				var hide = para.hide;
			else
				var hide = [];
			var f2 = encodeURIComponent(JSON.stringify(hide));
			if (mode === 'new') 
				form.data.values = {};
			var f = encodeURIComponent(JSON.stringify(form));
			%> 
				var form = JSON.parse(decodeURIComponent("<%-f %>")); 
				var hide = JSON.parse(decodeURIComponent("<%-f2 %>")); 
				var sub_title = '<%=(typeof(s_title)!=='undefined')?s_title:form.name%>';
			<% 
		});
	}
	if (typeof(form) !== 'undefined') {
		show_form(form);
	} else if (typeof(para) !== 'undefined' && typeof(para.form_query) !== 'undefined' ) {
		SR.API.QUERY_FORM( para.form_query, function (err, form) {
			if (err) {
				LOG.warn(err);
				return ;
			}
			show_form(form);
		});
	}
%>

var onConnect = function () {
	init_html(function(err, html){
		console.log('hide = ');
		console.log(hide);
		document.getElementById('sub_title').innerHTML = sub_title;
		document.getElementById('data').innerHTML = html;	
		if (typeof(date_pickers) !== 'undefined') {
			for (var i=0; i < date_pickers.length; i++) {
				$(function() {
					$("#" + date_pickers[i]).datepicker(datepicker_setting);
				});
			}
		}
		$('.tags').tagsInput();
	});
}

function init_html(onDone) {
	var html = '';	
	console.log('form = ');
	console.log(form);
	<% if (mode !== 'new' && mode !== 'modify') { %>
		// html += create_table(form, []);
		for(var record in form.data.values) {
			var f = SR.clone(form);
			f.data.values = {};
			f.data.values[record] = form.data.values[record];
			
			html += '<div id="show" style="border-width:1px;border-style:dashed;border-color:white;padding:3px;">';
			
			<% if (typeof(del) !== 'undefined' && del) { %>
				html += create_table(f, hide, false, null, null, true);
			<% } else { %>
				html += create_table(f, hide);
			<% } %>
			html += '</div>';
		}
	<% } else { %>
		console.log('')
		html += create_table(form, hide, true);   
	<% } %>
	return onDone(null, html);
}
														
function flexform_custom_upload(field, record_id, values) {
	<% if (typeof(onBeforeUpload_name)!== 'undefined' ) {  %>
		if(Object.keys(window).indexOf('<%=onBeforeUpload_name%>') !== -1) {
			var do_func = window['<%=onBeforeUpload_name%>'];
			do_func(field, record_id, values, function(err, datas){
				if (err) {
					console.log(err);
					return ;
				}
				if (typeof(datas) === 'undefined')
					default_upload(field, record_id, values);
				else
					default_upload(datas.field, datas.record_id, datas.values);
			});
		} else
			default_upload(field, record_id, values);
	<% } else { %>
		default_upload(field, record_id, values);
	<% } %>
	
}													

function upload_callback(result, values) {
	<% if (typeof(onDone_name)!== 'undefined' ) {  %>
		if(Object.keys(window).indexOf('<%=onDone_name%>') !== -1) {
			var do_func = window['<%=onDone_name%>'];
			do_func(result, values);
		} else
			success();
	<% } else { %>
		success();
	<% } %>
}
function success() {
	alert('填寫已完成!!');
	window.history.back();
}

</script>
			
<section id="three" class="wrapper style2 special">
	<div class="inner">
		<h2 id='sub_title'></h2>
		<div id="data"></div>
	</div>
</section>
<div class="wrapper style2 special" style="text-align: center; padding-top: 0">
	<a class="button alt" href="javascript: history.back()">Back</a>
</div>
